<% content_for(:title, "特別日一覧") %>

<div class="col-md-10 mx-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bold">特別日</h2>
    <%= render "admins/shared/data_count", resources: @special_days %>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">No</th>
        <th class="col-2">開始日</th>
        <th class="col-2">終了日</th>
        <th class="col-2">説明</th>
        <th class="col-2">時給加算額</th>
        <th class="col-2">手当</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @special_days.each do |day|%>
        <tr>
          <td class="align-middle col-1"><%= day.id %></td>
          <td class="align-middle col-2"><%= day.start_date %></td>
          <td class="align-middle col-2"><%= day.end_date %></td>
          <td class="align-middle col-2"><%= day.description %></td>
          <td class="align-middle col-2"><%= number_to_currency(day.wage_increment) %></td>
          <td class="align-middle col-2"><%= number_to_currency(day.allowance) %></td>
          <td class="align-middle col-1">
            <%= link_to admins_special_day_path(day), data: { turbo_method: :delete, turbo_confirm: "特別日を削除します。よろしいですか？" }, class: "text-black" do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-5 d-flex justify-content-center">
    <%= paginate @special_days, theme: 'bootstrap-5' %>
  </div>

  <div class="text-end">
    <%= link_to "特別日を追加する", new_admins_special_day_path %>
  </div>
</div>
