<% content_for(:title, "管理勤怠一覧") %>

<div class="col-md-10 mx-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bold">管理勤怠一覧</h2>
    <%= render "admins/shared/data_count", resources: @attendances %>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">No</th>
        <th class="col-2">名前</th>
        <th class="col-2">日付</th>
        <th class="col-2">出勤時刻</th>
        <th class="col-2">退勤時刻</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td class="align-middle col-1"><%= attendance.id %></td>
          <td class="align-middle col-2"><%= attendance.user.full_name %></td>
          <td class="align-middle col-2"><%= attendance.date %></td>
          <td class="align-middle col-2"><%= format_time_only(attendance.clock_in_time) %></td>
          <td class="align-middle col-2"><%= format_time_only(attendance.clock_out_time) %></td>
          <td class="align-middle col-1">
            <%= link_to "#", class: 'btn btn-success' do %>
              <i class="bi bi-pencil-square"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-5 d-flex justify-content-center">
    <%= paginate @attendances, theme: 'bootstrap-5' %>
  </div>

</div>
