<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="d-flex flex-column min-vh-100">
  <div class="d-flex flex-grow-1">
    <aside class=" col-2 pt-5 flex-grow-1  d-flex flex-column h-100">
      <ul class="list-group list-group-flush pt-5">
        <li class="list-group-item">
          <span class="ms-3">
            <%= link_to "ユーザー", admins_users_path %>
          </span>
        </li>
        <li class="list-group-item">
          <span class="ms-3">
            <%= link_to "勤怠管理", admins_attendances_path %>
          </span>
        </li>
        <li class="list-group-item">
          <span class="ms-3">
            <%= link_to "特別日", admins_special_days_path %>
          </span>
        </li>
      </ul>
    </aside>
    <div class="col-10 d-flex flex-column h-100">
      <%= render 'layouts/header' %>
      <%= render 'layouts/flash_message' %>
      <main class="main p-5 flex-grow-1">
        <div class="p-5 bg-white">
          <%= yield %>
        </div>
      </main>
    </div>
  </div>
</body>
</html>
