<% content_for(:title, "アカウント登録") %>

<div class="row d-flex justify-content-center mt-5 px-3">
  <div class="col-md-6">
    <h2 class="text-center"><%= t('.sign_up') %></h2>
    <%= form_with model: @user, url: user_registration_path, local: true, class: 'mt-5' do |f| %>
      <%= render "layouts/error_messages", resource: resource %>
      <div class="row">
        <div class="form-group col-6">
          <%= f.label :last_name, class: 'form-label' %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control #{'alert alert-danger' if resource.errors[:last_name].any?}" %>
        </div>
        <div class="form-group  col-6">
          <%= f.label :first_name, class: 'form-label' %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control #{'alert alert-danger' if resource.errors[:first_name].any?}" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="form-group  col-6">
          <%= f.label :last_name_kana, class: 'form-label' %><br />
          <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class: "form-control #{'alert alert-danger' if resource.errors[:last_name_kana].any?}" %>
        </div>
        <div class="form-group  col-6 ">
          <%= f.label :first_name_kana, class: 'form-label' %><br />
          <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class: "form-control #{'alert alert-danger' if resource.errors[:first_name_kana].any?}" %>
        </div>
      </div>
      <div class="form-group mt-4">
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control #{'alert alert-danger' if resource.errors[:email].any?}" %>
      </div>
    
      <div class="form-group mt-4">
        <%= f.label :password, class: 'form-label' %>
        <% if @minimum_password_length %>
        (<%= @minimum_password_length %><%= t('.minimum_characters') %>)
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control #{'alert alert-danger' if resource.errors[:password].any?}" %>
      </div>
    
      <div class="form-group mt-4">
        <%= f.label :password_confirmation, class: 'form-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control #{'alert alert-danger' if resource.errors[:password_confirmation].any?}" %>
      </div>
    
      <div class="actions mt-5 text-center">
        <%= f.submit t('.register'), class: 'btn btn-secondary col-4' %>
      </div>
    <% end %>
    
    <%= render "users/shared/links" %>
  </div>
</div>
