<% content_for(:title, "ユーザー一覧") %>

<div class="col-md-10 mx-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="fw-bold">ユーザー</h2>
    <div class="">
      <span class="fs-2 fw-bold">
        <%= @users.total_count %>
      </span>
      件中
      <span class="fs-2 fw-bold">
        <%= @users.offset_value %>
      </span>
      〜
      <span class="fs-2 fw-bold">
        <%= @users.offset_value + @users.length %>
      </span>
      件
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">No</th>
        <th class="col-4">名前</th>
        <th class="col-3">作成日</th>
        <th class="col-3">更新日</th>
        <th class="col-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td class="col-1"><%= user.id %></td>
        <td class="col-4"><%= user.full_name %></td>
        <td class="col-3"><%= l user.created_at %></td>
        <td class="col-3"><%= l user.updated_at %></td>
        <td class="col-1">
          <%= link_to edit_admins_user_path(user), class: 'btn btn-success' do %>
            <i class="bi bi-pencil-square"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-5 d-flex justify-content-center">
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>
</div>
